In [1]:
ubicacion = "C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error"

In [2]:
import pandas as pd
import os
import getpass
usuario = getpass.getuser()

In [3]:
dfs=[]

In [4]:
mara = pd.read_csv("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2025-03/MARA_R3.csv")

C:\Users\lravlic\AppData\Local\Temp\ipykernel_19200\363360223.py:1: DtypeWarning: Columns (0,3,4,5,6,7,8,11,12,13,14,15,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  mara = pd.read_csv("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2025-03/MARA_R3.csv")

In [5]:
mara.drop_duplicates(subset='Material_R3', inplace=True)

In [6]:
mara['Material_R3'] = mara['Material_R3'].astype('str')

In [7]:
import pandas as pd
from tkinter import Tk
from tkinter.filedialog import askopenfilename

# Ocultar la ventana principal de Tkinter
Tk().withdraw()

# Abrir el explorador de archivos para seleccionar un archivo
file_path = askopenfilename(title="Seleccionar archivo de Excel", 
                            filetypes=[("Archivos de Excel", "*.xlsx"), 
                                       ("Todos los archivos", "*.*")])

# Verificar si se seleccionó un archivo
if file_path:
    # Leer el archivo seleccionado
    df = pd.read_excel(file_path)
    print("Archivo cargado exitosamente.")
else:
    print("No se seleccionó ningún archivo.")

Archivo cargado exitosamente.

In [8]:
df_cruce = df.merge(mara[['Material_R3','Sector_dsc']], left_on='UE_2', right_on='Material_R3', how='left')

In [9]:
df_cruce[df_cruce['Sector_dsc']=='Mazda']['Total instock'].value_counts()

Total instock
0    75560
4    14834
3      357
2      290
1      273
Name: count, dtype: int64

In [ ]:
Total instock
0    75732
4    14690
3      349
2      272
1      271
Name: count, dtype: int64

In [17]:
# condicion = df_cruce['Sector_dsc'].isin(['Subaru', 'DFSK', 'GEELY', 'Geely'])

# # Reemplazar los valores de 'Total instock' con 5 cuando se cumpla la condición
# df_cruce.loc[condicion, 'Total instock'] = 4

In [10]:
df_2 = pd.read_parquet("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error/consolidado_fc_error.parquet")

In [11]:
df_2['Mes'].value_counts()

Mes
2025-03-07    482300
2025-02-07    481095
2024-12-06    377916
2025-01-09    363770
2024-11-08    327370
2024-08-06    219585
2024-10-07    211146
2024-09-04    209894
2024-06-04    165997
2024-07-02    165910
2024-05-07    162786
2024-04-29    161101
2024-03-01    160176
2024-01-02    157310
2024-01-01    156656
2023-12-01    156644
2023-11-01    154271
2023-10-01    128165
2023-09-01    127498
2023-08-01    126801
2023-02-01    105946
2023-01-01    105913
2023-03-01    105345
2023-04-01    104282
2023-05-01    102886
2023-06-01    102630
2023-07-01    102084
Name: count, dtype: int64

In [12]:
df_2 = df_2[df_2['Mes']!='2025-03-07']

In [13]:
df_2['Mes'].value_counts()

Mes
2025-02-07    481095
2024-12-06    377916
2025-01-09    363770
2024-11-08    327370
2024-08-06    219585
2024-10-07    211146
2024-09-04    209894
2024-06-04    165997
2024-07-02    165910
2024-05-07    162786
2024-04-29    161101
2024-03-01    160176
2024-01-02    157310
2024-01-01    156656
2023-12-01    156644
2023-11-01    154271
2023-10-01    128165
2023-09-01    127498
2023-08-01    126801
2023-02-01    105946
2023-01-01    105913
2023-03-01    105345
2023-04-01    104282
2023-05-01    102886
2023-06-01    102630
2023-07-01    102084
Name: count, dtype: int64

In [14]:
df_consolidado_2 = pd.concat([df_2, df_cruce])

In [15]:
df_consolidado_2['Mes'].value_counts()

Mes
2025-03-19             482300
2025-02-07 00:00:00    481095
2024-12-06 00:00:00    377916
2025-01-09 00:00:00    363770
2024-11-08 00:00:00    327370
2024-08-06 00:00:00    219585
2024-10-07 00:00:00    211146
2024-09-04 00:00:00    209894
2024-06-04 00:00:00    165997
2024-07-02 00:00:00    165910
2024-05-07 00:00:00    162786
2024-04-29 00:00:00    161101
2024-03-01 00:00:00    160176
2024-01-02 00:00:00    157310
2024-01-01 00:00:00    156656
2023-12-01 00:00:00    156644
2023-11-01 00:00:00    154271
2023-10-01 00:00:00    128165
2023-09-01 00:00:00    127498
2023-08-01 00:00:00    126801
2023-02-01 00:00:00    105946
2023-01-01 00:00:00    105913
2023-03-01 00:00:00    105345
2023-04-01 00:00:00    104282
2023-05-01 00:00:00    102886
2023-06-01 00:00:00    102630
2023-07-01 00:00:00    102084
Name: count, dtype: int64

In [16]:
df_consolidado_2.Mes = pd.to_datetime(df_consolidado_2['Mes'])

In [17]:
df_consolidado_2['Input'] = df_consolidado_2['Input'].astype(str)

In [18]:
df_consolidado_2.Mes.value_counts()

Mes
2025-03-19    482300
2025-02-07    481095
2024-12-06    377916
2025-01-09    363770
2024-11-08    327370
2024-08-06    219585
2024-10-07    211146
2024-09-04    209894
2024-06-04    165997
2024-07-02    165910
2024-05-07    162786
2024-04-29    161101
2024-03-01    160176
2024-01-02    157310
2024-01-01    156656
2023-12-01    156644
2023-11-01    154271
2023-10-01    128165
2023-09-01    127498
2023-08-01    126801
2023-02-01    105946
2023-01-01    105913
2023-03-01    105345
2023-04-01    104282
2023-05-01    102886
2023-06-01    102630
2023-07-01    102084
Name: count, dtype: int64

In [19]:
df_consolidado_2.to_parquet("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error/consolidado_fc_error.parquet")

In [12]:
df_2 = df_2[~df_2['Mes'].isin(['2024-09-04', '2024-08-06'])]

In [7]:
df_2 = df_2.merge(mara[['Material_R3','Sector_dsc']], left_on='UE_2', right_on='Material_R3', how='left')

In [10]:
df_2[df_2['Sector_dsc_y']=='Subaru'][['Mes', 'Total instock']]

               Mes  Total instock
1392    2024-09-04              4
1393    2024-09-04              4
1394    2024-09-04              4
1395    2024-09-04              4
1396    2024-09-04              4
...            ...            ...
2928063 2024-08-06              0
2928064 2024-08-06              0
2928065 2024-08-06              0
2928066 2024-08-06              0
2928067 2024-08-06              0

[74226 rows x 2 columns]

In [ ]:
df_2 =

In [18]:
df_consolidado_2.Mes.value_counts()

Mes
2024-08-06    219585
2024-10-07    211146
2024-09-04    209894
2024-06-04    165997
2024-07-02    165910
2024-05-07    162786
2024-04-29    161101
2024-03-01    160176
2024-01-02    157310
2024-01-01    156656
2023-12-01    156644
2023-11-01    154271
2023-10-01    128165
2023-09-01    127498
2023-08-01    126801
2023-02-01    105946
2023-01-01    105913
2023-03-01    105345
2023-04-01    104282
2023-05-01    102886
2023-06-01    102630
2023-07-01    102084
Name: count, dtype: int64

In [6]:
df_consolidado = pd.concat([df, df_2], ignore_index=True)

In [9]:
df_consolidado.Mes.value_counts()

Mes
2025-03-07             482300
2025-02-07 00:00:00    481095
2024-12-06 00:00:00    377916
2025-01-09 00:00:00    363770
2024-11-08 00:00:00    327370
2024-08-06 00:00:00    219585
2024-10-07 00:00:00    211146
2024-09-04 00:00:00    209894
2024-06-04 00:00:00    165997
2024-07-02 00:00:00    165910
2024-05-07 00:00:00    162786
2024-04-29 00:00:00    161101
2024-03-01 00:00:00    160176
2024-01-02 00:00:00    157310
2024-01-01 00:00:00    156656
2023-12-01 00:00:00    156644
2023-11-01 00:00:00    154271
2023-10-01 00:00:00    128165
2023-09-01 00:00:00    127498
2023-08-01 00:00:00    126801
2023-02-01 00:00:00    105946
2023-01-01 00:00:00    105913
2023-03-01 00:00:00    105345
2023-04-01 00:00:00    104282
2023-05-01 00:00:00    102886
2023-06-01 00:00:00    102630
2023-07-01 00:00:00    102084
Name: count, dtype: int64

In [10]:
df_consolidado['Mes'] = pd.to_datetime(df_consolidado['Mes'], errors='coerce')

# Convertir la columna 'Input' a string (o cualquier otro tipo que consideres apropiado)
df_consolidado['Input'] = df_consolidado['Input'].astype(str)

In [11]:
df_consolidado.to_parquet("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error/consolidado_fc_error.parquet")

In [19]:
df_consolidado.columns

Index(['ID2', 'Periodo', 'UE_2', 'fc', 'fc_anas', 'Venta', 'Prom.',
       'Total instock', 'MAPE_AJUSTADO', 'ERP', 'ERN', 'MAPE_ANASTASIA',
       'ERP_ANASTASIA', 'ERN_ANASTASIA', 'WMAPE', 'WMAPE.1', 'Mes',
       'Costo Promedio Ponderado', 'Costo de Venta', 'Forecast en Costo',
       'MAPE Costo', 'ERP Costo', 'ERN Costo', 'WMAPE Costo', 'Input'],
      dtype='object')

In [40]:
import pandas as pd
df = pd.read_parquet('consolidado_fc_error.parquet')

In [41]:
df_2 = pd.read_excel('C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error/Forecast Error OEM Febrero 2025.xlsx')

In [42]:
df_2['Input'] = df_2['Input'].astype('str')

In [43]:
df_2.to_parquet('consolidado_2.parquet')

In [44]:
df_2 = pd.read_parquet('consolidado_2.parquet')

In [46]:
df_2['Mes'] = pd.to_datetime(df_2['Mes'])

In [48]:
df_final.dtypes

ID2                                 object
Periodo                             object
UE_2                                object
fc                                 float64
fc_anas                            float64
Venta                              float64
Prom.                              float64
Total instock                        int64
MAPE_AJUSTADO                      float64
ERP                                float64
ERN                                float64
MAPE_ANASTASIA                     float64
ERP_ANASTASIA                      float64
ERN_ANASTASIA                      float64
WMAPE                              float64
WMAPE.1                            float64
Mes                         datetime64[ns]
Costo Promedio Ponderado           float64
Costo de Venta                     float64
Forecast en Costo                  float64
MAPE Costo                         float64
ERP Costo                          float64
ERN Costo                          float64
WMAPE Costo                        float64
Input                               object
dtype: object

In [25]:
df_2

,ID2,Periodo,UE_2,fc,fc_anas,Venta,Prom.,Total instock,MAPE_AJUSTADO,ERP,...,Mes,Costo Promedio Ponderado,Costo de Venta,Forecast en Costo,MAPE Costo,ERP Costo,ERN Costo,WMAPE Costo,Input,Unnamed: 25
0,0000000190-OP1CL CES 01,N-1,0000000190-OP1,0.00000,0.000000,0,0.000000,0,0.00000,0.00000,...,2024-08-06,101681.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,0,Renault
1,0000000190-OP1CL CES 01,N-4,0000000190-OP1,0.00000,0.000000,0,0.000000,0,0.00000,0.00000,...,2024-08-06,101681.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,0,Renault
2,0000000229CPZCL CES 01,N-1,0000000229CPZ,0.00000,0.081019,0,0.041667,5,0.00000,0.00000,...,2024-08-06,123471.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,Alerta Obsolescencia,Renault
3,0000000244CL CES 01,N-1,0000000244,0.00000,0.000000,0,0.000000,0,0.00000,0.00000,...,2024-08-06,89916.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,0,Renault
4,0000000244CL CES 01,N-4,0000000244,0.00000,0.000000,0,0.000000,0,0.00000,0.00000,...,2024-08-06,89916.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,0,Renault
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219580,ZZJ118110CL CES 01,N-1,ZZJ118110,40.11290,40.112900,12,5.666667,5,28.11290,28.11290,...,2024-08-06,2347.0,28164.0,9.414498e+04,6.598098e+04,6.598098e+04,0.0,2.342742,0,Mazda
219581,ZZJ118110CL CES 01,N-4,ZZJ118110,33.97096,33.970960,12,5.666667,5,21.97096,21.97096,...,2024-08-06,2480.0,29760.0,8.424798e+04,5.448798e+04,5.448798e+04,0.0,1.830913,0,Mazda
219582,ZZJ318840CL CES 01,N-1,ZZJ318840,0.00000,0.000000,0,0.000000,0,0.00000,0.00000,...,2024-08-06,40932.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,0,Mazda
219583,ZZJ318840CL CES 01,N-4,ZZJ318840,0.00000,0.000000,0,0.000000,0,0.00000,0.00000,...,2024-08-06,40932.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,0,Mazda
219584,PD15CL CES 01,N-4,PD15,1149.00000,0.000000,0,0.000000,0,1149.00000,1149.00000,...,2024-08-06,18800.0,0.0,2.160120e+07,2.160120e+07,2.160120e+07,0.0,inf,Incorporacion,None

In [49]:
df_final_2 = pd.concat([df_final, df_2])

In [34]:
df_final.shape

(2552401, 25)

In [33]:
df_2.shape

(219585, 26)

In [37]:
df_final_2['Mes'] = pd.to_datetime(df_final_2['Mes'])

ValueError: time data "2024-08-06" doesn't match format "%Y-%m-%d %H:%M:%S", at position 19. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [22]:
df_consolidado.to_parquet('consolidado_fc_error.parquet')

In [51]:
df_final_2

,ID2,Periodo,UE_2,fc,fc_anas,Venta,Prom.,Total instock,MAPE_AJUSTADO,ERP,...,Mes,Costo Promedio Ponderado,Costo de Venta,Forecast en Costo,MAPE Costo,ERP Costo,ERN Costo,WMAPE Costo,Input,Unnamed: 25
0,B45A512L0BCL CES 01,N-1,B45A512L0B,2.639339,2.639339,6.0,0.733333,5,3.360661,0.000000,...,2023-03-01,6862.750000,41176.5,1.811313e+04,2.306337e+04,0.000000e+00,23063.374905,0.560110,nan,NaN
1,768510545RCL CES 01,N-1,768510545R,0.111111,0.111111,1.0,0.100000,4,0.888889,0.000000,...,2023-03-01,25906.400000,25906.4,2.878489e+03,2.302791e+04,0.000000e+00,23027.911140,0.888889,nan,NaN
2,768510545RCL FLOTAS,N-1,768510545R,0.032782,0.032782,0.0,0.100000,4,0.032782,0.032782,...,2023-03-01,25906.400000,0.0,8.492612e+02,8.492612e+02,8.492612e+02,0.000000,0.000000,nan,NaN
3,769523741RCL CES 01,N-1,769523741R,0.213110,0.213110,0.0,0.100000,0,0.213110,0.213110,...,2023-03-01,166238.000000,0.0,3.542692e+04,3.542692e+04,3.542692e+04,0.000000,0.000000,nan,NaN
4,8202100XKZ20ACL CES 01,N-1,8202100XKZ20A,0.000000,0.000000,0.0,0.016667,5,0.000000,0.000000,...,2023-03-01,54514.666667,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219580,ZZJ118110CL CES 01,N-1,ZZJ118110,40.112900,40.112900,12.0,5.666667,5,28.112900,28.112900,...,2024-08-06,2347.000000,28164.0,9.414498e+04,6.598098e+04,6.598098e+04,0.000000,2.342742,0,Mazda
219581,ZZJ118110CL CES 01,N-4,ZZJ118110,33.970960,33.970960,12.0,5.666667,5,21.970960,21.970960,...,2024-08-06,2480.000000,29760.0,8.424798e+04,5.448798e+04,5.448798e+04,0.000000,1.830913,0,Mazda
219582,ZZJ318840CL CES 01,N-1,ZZJ318840,0.000000,0.000000,0.0,0.000000,0,0.000000,0.000000,...,2024-08-06,40932.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,0,Mazda
219583,ZZJ318840CL CES 01,N-4,ZZJ318840,0.000000,0.000000,0.0,0.000000,0,0.000000,0.000000,...,2024-08-06,40932.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,0,Mazda
219584,PD15CL CES 01,N-4,PD15,1149.000000,0.000000,0.0,0.000000,0,1149.000000,1149.000000,...,2024-08-06,18800.000000,0.0,2.160120e+07,2.160120e+07,2.160120e+07,0.000000,inf,Incorporacion,None

: